<h1>Torii Examples</h1>

<h2>Torii: Example Usage</h2>

<div class='providers'>
  {{#each providers as |provider|}}
    <div class='provider'>
      <button {{action "authorize" provider}}>
        {{provider}}
      </button>
    </div>
  {{/each}}
</div>

<div class='auth-data'>
  Auth data: {{#if authData}}
    {<pre>{{inspect-object authData}}</pre>}
  {{/if}}
</div>
<div>
  Error data: {{error}}
</div>
